#header-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10%; 
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 10%;
  margin: 2%;
}

.login {
  background-color: #ac8d07;
  font-family: "Bubblegum Sans";
  box-shadow: #ac8d07 1px 0 10px;
  height: 5%;
}

.title
{
    color: #ac8d07;
    border-radius: 60px;
    text-shadow: #ac8d07 1px 0 10px;
    
}

.main { background-color: #000000; }

.topright 
{
    position: absolute;
    top: -260px;
    right: 69 px;
    font-size: 18px;
    color: #ac8d07;
    border-radius: 60px;
    text-shadow: #ac8d07 1px 0 10px;
}

div{
  display: block;
  position: absolute;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
}

.wrapper{
  height: 400px;
  width: 600px;
  margin: auto;
  font-family: 'Clicker Script', cursive;
}

.cloud {
  background: #BDA1B8;
  width: 90px;
  height: 42px; 
  -webkit-animation: clouds 20s infinite;
  margin-left: 0;
}

.cloud:before {
    border-radius: 50%;
    box-shadow: 20px -20px 0 0 #BDA1B8,
                90px 0 0 0 #BDA1B8,
                60px -27px 0 8px #BDA1B8;
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    left: -22px;
    bottom: 0;
    background: #BDA1B8;
}

.cloud:nth-child(1){ top: auto; bottom: 120px; opacity: 0.85}
.cloud:nth-child(2){ right: auto; left: 320px; opacity: 0.5}
.cloud:nth-child(3){ bottom: auto; top: 120px; right: auto; left: 80px; opacity: 0.75;}
.cloud:nth-child(4){ bottom: auto; top: 20px; right: auto; left: 320px; opacity: 0.65;}

@-webkit-keyframes clouds /*Safari and Chrome*/ {
  0% {margin-left:0;}
  25% {margin-left:150px;}
  50% {margin-left:0;}
  75% {margin-left:150px;}
  100% {margin-left: 0;}
}

@keyframes clouds /*Safari and Chrome*/ {
  0% {margin-left:0;}
  25% {margin-left:100px;}
  50% {margin-left:0;}
  75% {margin-left:100px;}
  100% {margin-left: 0;}
}

.moon {
  height: 120px;
  width: 120px;
  background: #ac8d07;
  border-radius: 60px;
  box-shadow: 0 0 60px 1px #ac8d07;
}

.moon:before {
    border-radius: 60px;
    box-shadow: 10px -50px 0 0 rgb(146, 115, 12),
                50px 0 0 0 rgb(146, 115, 12),
                50px -37px 0 10px rgb(146, 115, 12);
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    bottom: 10px;
    background: rgb(146, 115, 12);
}

.cat {
  background:#000000;
  height: 60px;
  top: auto;
  bottom: 200px;
  width: 60px;
  z-index: 0;
  -webkit-transition: all linear 1s;
}

.cat:before, .cat:after {
    width: 0;
    height: 0;
    top: -10px;
    position: absolute;
    content: "";
}

.cat:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(219, 157, 157);
    left: 0;
}

.cat:after{
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid rgb(219, 157, 157);
    right: 0;
}

.cat .eyes{
  position: absolute;
  height: 8px; width: 8px;
  background: #333;
  border-radius: 100%;
  top: 15px;
}

.cat .eyes.left{ left: 12px; }
.cat .eyes.right{  right: 12px; }

.cat .mouth{
  position: absolute;
  height: 3px; width: 60%;
  /* background: #333; */
  /* border-radius: 0 0 100% 100%; */
  /* top: 30px; */
  /* left: 0; right: 0;  */
  top: 10px;
  margin: auto;
  text-align: center;
  left: 20%; right: 20%;
  color: #333;
  font-family: Comic Sans MS;
  font-size: 1.5em;
}

.wrapper:hover .cat{
  bottom: 240px;
}

