<div class = "main">
  <div class="header-container">
    <h1 class = "title"> JJD </h1> 
    <nav class="nav-bar">
      <button mat-raised-button class="login">Log In</button>
      <button mat-raised-button class="login">Sign Up</button>
    </nav> 
  </div>
  <div class="wrapper">
    <div class="cat">
      <span class="eyes left"></span>
      <span class="eyes right"></span>
      <span class="mouth">w</span>
    </div>
    
    <div class="moon">
      <div class="sphere"></div>
      
    </div>
    
    <div class="cloud-container">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
  </div>
</div>

 