<div class = "main">
<div class="wrapper">
  
    <div class="cat">
      <span class="eyes left"></span>
      <span class="eyes right"></span>
      <span class="mouth"></span>
      <span class="mouth before"></span>
      <span class="mouth after"></span>
    </div>
    
    <div class="moon">
      <div class="sphere"></div>
      
    </div>
    
    <div class="cloud-container">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans" />
  </div>
</div>